*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-family: 'Fira Sans', sans-serif;
}

h1, h2, h3{
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: 'DM Sans', sans-serif;
}

p{
    font-size: 1.55em;
}

.grid-images{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.grid-images img{
    position: relative;
    width: 200px;
    height:200px;
    margin: 2rem;
    object-fit: cover;
    border-radius: 10px;
}

.grid-images img::after{
    position: absolute;
    top: 0;
    left: 0;
    content:'';
    width:110%;
    height: 110%;
    background-color: #222;
    z-index: 10;
}

.navigation{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    min-height: 80px;
    z-index: 100;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}

.menu li a{
    color: #222;
    font-weight: 600;
    text-decoration: none;
}

.header{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: 60vh;
    margin-top: 80px;
}

.header div{
    flex: 1 0 100%;
}

div.header-info{
    padding: 20px 40px;
}

img{
    max-width: 100%;
}

.whatsapp{
    position: relative;
    display: flex;
    align-items: center;
    position:fixed;
    bottom: 40px;
    right: 50px;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: default;
    z-index: 100;
}

.whatsapp .hide-content{
    position: absolute;
    top: 0;
    transform: translateY(-110%);
    left: 0;
    opacity: 0;
    pointer-events: none;
}

.hide-content a{
    display: block;
    text-decoration: none;
    color: #111;
    padding: 5px 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: 2px solid #ccc;
    background-color: #111;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.hide-content.is-show{
    opacity: 1;
    pointer-events: auto;
}

.whatsapp p{

}

.whatsapp img{
    margin-left: 20px;
}

.about-me{
    display: flex;
    flex-wrap: wrap;
}

.about-me div{
    flex: 1 0 100%;
}

.about-me div:first-child{
    color: #fff;
    background-color: #222;
    padding: 20px 40px;
}

.about-me div p{
    margin: 2rem 0;
}

.zona{
    position: relative;
    padding: 10px 20px;
}

.map img{
    display: block;
    margin: auto;
}

.text-center{
    text-align: center;
}

.map-link{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: tomato;
    color: #fff;
    display: block;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 2.5em;
}

@media(min-width:760px){
    .header div{
        flex: 1 0 50%;
    }

    .menu{
        max-width: 40%;
        margin-left: auto;
    }

    .grid-images img{
        width: 300px;
        height:300px;
    }

    .about-me div{
        flex: 1 0 50%;
    }
}